<div class="container" >


<h1>Cocktails#create</h1>
<p>Find me in app/views/cocktails/create.html.erb</p>

<%= simple_form_for @cocktail do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %>
  <%= t.input :photo %>
  <%= t.input :photo_cache, as: :hidden %>

  <%= t.button :submit %>
<% end %>


</div>
